@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('./SEGA.woff') format('woff');
    }
body {
  text-align: center;
  vertical-align: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, #00817f 0%, #170055 99.84%);
  overflow-x:hidden;
}
main{
    height: 100%;
  width: 100%;
}
img {
  width: 200px;
}
h1{
  color: #99E4BB;
  font-family: 'SEGA LOGO FONT';
  font-weight: 550;
}
input {
  height: 25px;
  width : 250px;
  padding:5px;
}
.basic-grid{
  display:flex;
  gap: 2rem;
  flex-wrap:wrap;
  justify-content: center;
  align-items:center;
  margin-top:30px;
  margin-left:auto;
  margin-right:auto;
  width:80%;
}
.card{
  background-color:#99E4BB;
  width: 20%;
  padding : 10px;
}
.card:hover{
  background-color:#ffa300;
  box-shadow: 0px 0px 1px 15px #ffa300;
}
.single-robot{
  display:flex;
  flex-direction: column;
  gap:5rem;
  justify-content: center;
  align-items:center;
}
table{
  background-color:#99E4BB;
  font-size:16px;
}
tr:hover {background-color: #ddd;}
.back{
  color:#f5f4f4;
  margin-top:15px;
  font-size: 22px;
}
.link{
  color: black;
  text-decoration: none;
}
.name{
  font-weight:600;
  font-size: 20px;
}

@media screen and (min-width: 600px) and (max-width: 1200px){
.basic-grid{
  display:flex;
  gap: 5rem;
  flex-wrap:wrap;
  justify-content: center;
  align-items:center;
  margin-top:30px;
  margin-left:auto;
  margin-right:auto;
  width:80%;
}
.card{
  background-color:#99E4BB;
  width: 40%;
  padding : 10px;
}
.card:hover{
  background-color:#ffa300;
  box-shadow: 0px 0px 1px 15px #ffa300;
}

  
}
@media screen and (max-width: 599px) {
.basic-grid{
  display:flex;
  gap: 5rem;
  flex-wrap:wrap;
  justify-content: center;
  align-items:center;
  margin-top:30px;
  margin-left:auto;
  margin-right:auto;
  width:80%;
}
.card{
  background-color:#99E4BB;
  width: 100%;
  padding : 10px;
}
.card:hover{
  background-color:#ffa300;
  box-shadow: 0px 0px 1px 15px #ffa300;
}

  
}
